<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 mx-auto">
                <!-- -->
                <h1> Entries </h1>
                <button type="button" class="btn btn-success btn-sm">
                  <router-link class="nav-link" to="/user/addRoute">Add route</router-link>
                </button>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Location</th>
                      <th scope="col">Date</th>
                      <th scope="col">Geo</th>
                      <th scope="col">Route Name</th>
                      <th scope="col">Grade</th>
                      <th scope="col">Length</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(route, index) in entries" :key="index">
                      <td>{{ route.location }}</td>
                      <td>{{ route.date }}</td>
                      <td>{{ route.geo }}</td>
                      <td>{{ route.routeName }}</td>
                      <td>{{ route.grade }}</td>
                      <td>{{ route.length }}</td>
                      <td>
                        <div class="btn-group" role="group">
                          <button type="button"
                                  class="btn btn-warning btn-sm"
                                  v-b-modal.route-update-modal
                                  @click="editRoute(route)">
                                  Update
                          </button>
                          <button type="button"
                                    class="btn btn-danger btn-sm"
                                    @click="onDeleteRoute(route)">
                                    Delete
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import jwtDecode from 'jwt-decode'

export default {
  data () {
    const token = localStorage.usertoken
    const decoded = jwtDecode(token)
    return {
      entries: [
        {
          logType: '',
          location: '',
          date: '',
          geo: '',
          routeName: '',
          grade: '',
          length: ''
        }
      ],
      first_name: decoded.identity.first_name,
      last_name: decoded.identity.last_name,
      email: decoded.identity.email,
      id: decoded.identity.id
    }
  },
  methods: {
    getEntries () {
      const path = 'http://localhost:5000/entries/' + this.id
      axios.get(path)
        .then((res) => {
          this.entries = res.data.entries
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    updateEntries () {

    },
    addEntry (payload) {
      const path = 'http://localhost:5000/entries/' + this.id
      axios.put(path, payload)
        .then((res) => {
          this.getEntries()
        })
        .catch((error) => {
          console.error(error)
        })
    },
    deleteEntry () {

    },
    // SUPPORT FUNCTIONS
    onSubmit  (evt) {
      evt.preventDefault()
      this.$refs.addRouteModal.hide()
      const payload = {
        location: this.addRouteForm.location,
        date: this.addRouteForm.date,
        geo: this.addRouteForm.geo,
        routeName: this.addRouteForm.routeName,
        grade: this.addRouteForm.grade,
        length: this.addRouteForm.length
      }
      this.addEntry(payload)
      this.initForm()
    },
    initForm  () {
      this.addRouteForm.location = ''
      this.addRouteForm.date = ''
      this.addRouteForm.geo = ''
      this.addRouteForm.routename = ''
      this.addRouteForm.grade = ''
      this.addRouteForm.length = ''

      this.editForm.location = ''
      this.editForm.date = ''
      this.editForm.geo = ''
      this.editForm.routeName = ''
      this.editForm.grade = ''
      this.editForm.length = ''
    },
    onReset (evt) {
      evt.preventDefault()
      this.$refs.addRouteModal.hide()
      this.initForm()
    }
  },
  created () {
    this.getEntries()
  }
}
</script>
