<template>
  <div class="container">
    <div class="large-12 medium-12 small-12 cell">
      <label>File
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
      </label>
      <button v-on:click="submitFile()">Submit</button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import jwtDecode from 'jwt-decode'

export default {
  data() {
    const token = localStorage.usertoken
    const decoded = jwtDecode(token)
    return {
      file: ''
    }
  },

  methods: {
    submitFile() {
      const path = 'http://localhost:5000/csvupload/' + this.id
      let formData = new FormData();
      formData.append('file', this.file);
      axios.post(path, formData {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then(function(){
          console.log('SUCCESS!!');
        })
        .catch(function(){
          console.log('FAILURE!!');
        });
      },

      handleFileUpload(){
        this.file = this.$refs.file.files[0];
      }
    }
  }
</script>
