<template>
    <div class="container">
        <div class="row">
            <h1> Log Entries for </h1>
            <hr><br>
            <alert :message=message v-if="showMessage">{{ message }}</alert>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import Alert from './Alert.vue';

export default {
  data() {
    return {
      message: 'wrong',
      showMessage: false,
    };
  },
  components: {
    alert: Alert,
  },
  getMessage() {
    const path = 'http://localhost:5000/connect';
    axios.get(path)
      .then((res) => {
        this.message = res.data.message;
      })
      .catch((error) => {
        // eslint-disable-next-line
           console.error(error);
      });
  },
  created() {
    this.getMessage();
  },
};
</script>
