<template>
    <div class="container">
        <div class="row">
                <h1> Log Entries for yes</h1>
                <br/><hr/><br/>
                message in here:" {{ message }} "end of message
        </div>
    </div>
</template>


<script>
import axios from 'axios';
import Alert from './Alert.vue';

export default {
  data() {
    return {
      status: 'undeclared',
      id: 'id',
      message: 'old message',
      showMessage: true,
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
    getMessage() {
      const path = 'http://localhost:5000/users/login';
      axios.get(path)
        .then((res) => {
          this.message = res.data.message;
        })
        .catch((error) => {
          // eslint-disable-next-line
           console.error(error);
        });
    },
  },
  created() {
    this.getMessage();
  },
};
</script>
