<template>
  <div class="container">
    <div class="large-12 medium-12 small-12 cell">
      <label>File
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
      </label>
        <button v-on:click="submitFile()">Submit</button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import jwtDecode from 'jwt-decode'
import router from '../../router'

export default {
  data () {
    const token = localStorage.usertoken
    const decoded = jwtDecode(token)
    return {
      file: '',
      id: decoded.identity.id
    }
  },
  methods: {
    handleFileUpload () {
      this.file = this.$refs.file.files[0]
    },
    submitFile () {
      let formData = new FormData()
      formData.append('file', this.file)
      const path = 'http://localhost:5000/pushEntries/' + this.id
      axios.put(path, {
        data: formData
      }).then(res => {
        console.log('SUCCESS!!')
        router.push({name: 'handleMerge'})
      }).catch((error) => {
        console.error(error)
      })
    }
  }
}

</script>
