<template>
    <div class="container">
        <div class="jumbotron mt-5">
            <div class="col-sm-8 mx-auto">
                <h1 class="text-center">Users</h1>
              <p v-for="(single,index) in full_name" :key="index">
                <button type="button" onclick="alert('Add users link')">
                  {{ single[index] }}
                </button>
              </p>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import jwtDecode from 'jwt-decode'

export default {
  data () {
    const token = localStorage.usertoken
    const decoded = jwtDecode(token)
    return {
      full_name: [
        {

        }
      ],
      first_name: decoded.identity.first_name,
      last_name: decoded.identity.last_name,
      email: decoded.identity.email,
      id: decoded.identity.id

    }
  },
  methods: {
    view_users () {
      const path = 'http://localhost:5000/viewusers'
        axios.get(path)
        .then((res) => {
          this.full_name = res.data.full_name
            console.log(this.full_name)
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    }
  },
  created () {
    this.view_users()
  }
}
</script>
