<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 mx-auto">
                <!-- -->
                <h1> License </h1>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col"> </th>
                      <th scope="col">Active From</th>
                      <th scope="col">Active to</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(license, index) in licenses" :key="index">
                      <td>Lisense nr: {{ index }}</td>
                      <td>{{ license.dateFrom }}</td>
                      <td>{{ license.dateTo }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import jwtDecode from 'jwt-decode'

export default {
  data () {
    const token = localStorage.usertoken
    const decoded = jwtDecode(token)
    return {
      licenses: [
        {
          dateFrom: '',
          dateTo: ''
        }
      ],
      first_name: decoded.identity.first_name,
      last_name: decoded.identity.last_name,
      email: decoded.identity.email,
      id: decoded.identity.id

    }
  },
  methods: {
    getLicenses () {
      const path = 'http://localhost:5000/licenses/' + this.id
      axios.get(path)
        .then((res) => {
          this.licenses = res.data.licenses
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    }
  },
  created () {
    this.getLicenses()
  }
}
</script>
