<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Licenses</h1>
        <hr><br><br>
        <alert :message=message v-if="showMessage"></alert>
        <button type="button" class="btn btn-success btn-sm"
                v-b-modal.license-modal>Add License</button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Holder</th>
              <th scope="col">Name of License</th>
              <th scope="col">Active From</th>
              <th scope="col">Active to</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(license, index) in licenses" :key="index">
              <td>{{ license.holder }}</td>
              <td>{{ license.nameoflicense }}</td>
              <td>{{ license.activefrom }}</td>
              <td>{{ license.activeto }}</td><!--可以做一个日期选择-->
              <!--这里可以做一个想获得哪些证书的功能
              <td>
                <span v-if="license.read">Yes</span>
                <span v-else>No</span>
              </td>
              -->
              <td>
                <div class="btn-group" role="group">
                  <button
                          type="button"
                          class="btn btn-warning btn-sm"
                          v-b-modal.license-update-modal
                          @click="editLicense(license)">
                      Update
                  </button>
                  <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          @click="onDeleteLicense(license)"> <!--哪个证书过期了，变红色，提示要不要隐藏-->
                      Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addLicenseModal"
            id="license-modal"
            title="Add a new license"
            hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
      <b-form-group id="form-holder-group"
                    label="Holder:"
                    label-for="form-holder-input">
          <b-form-input id="form-holder-input"
                        type="text"
                        v-model="addLicenseForm.holder"
                        required
                        placeholder="Enter holder">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-name_license-group"
                      label="Name_license:"
                      label-for="form-name_license-input">
            <b-form-input id="form-name_license-input"
                          type="text"
                          v-model="addLicenseForm.nameoflicense"
                          required
                          placeholder="Enter Name of license">
            </b-form-input>
        </b-form-group>
        <b-form-group id="form-active_from-group"
                      label="Active_from:"
                      label-for="form-active_from-input">
            <b-form-input id="form-active_from-input"
                          type="text"
                          v-model="addLicenseForm.activefrom"
                          required
                          placeholder="Enter active from(yyyy-mm-dd)">
            </b-form-input>
        </b-form-group>
        <b-form-group id="form-active_to-group"
                      label="Active_to:"
                      label-for="form-active_to-input">
            <b-form-input id="form-active_to-input"
                          type="text"
                          v-model="addLicenseForm.activeto"
                          required
                          placeholder="Enter active to(yyyy-mm-dd)">
            </b-form-input>
        </b-form-group>
        <!--<b-form-group id="form-read-group">
          <b-form-checkbox-group v-model="addLicenseForm.read" id="form-checks">
            <b-form-checkbox value="true">Read?</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>
        -->
        <b-button-group>
          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
    <b-modal ref="editLicenseModal"
            id="license-update-modal"
            title="Update"
            hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
      <b-form-group id="form-holder-edit-group"
                    label="Holder:"
                    label-for="form-holder-edit-input">
          <b-form-input id="form-holder-edit-input"
                        type="text"
                        v-model="editForm.holder"
                        required
                        placeholder="Enter holder">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-name_license-edit-group"
                      label="Name_license:"
                      label-for="form-name_license-edit-input">
            <b-form-input id="form-name_license-edit-input"
                          type="text"
                          v-model="editForm.nameoflicense"
                          required
                          placeholder="Enter name_license">
            </b-form-input>
        </b-form-group>
        <b-form-group id="form-active_from-edit-group"
                      label="Active_from:"
                      label-for="form-active_from-edit-input">
            <b-form-input id="form-active_from-edit-input"
                          type="text"
                          v-model="editForm.activefrom"
                          required
                          placeholder="Enter active_from">
            </b-form-input>
        </b-form-group>
        <b-form-group id="form-active_to-edit-group"
                      label="Active_to:"
                      label-for="form-active_to-edit-input">
            <b-form-input id="form-active_to-edit-input"
                          type="text"
                          v-model="editForm.activeto"
                          required
                          placeholder="Enter active_to">
            </b-form-input>
        </b-form-group>
        <!--
        <b-form-group id="form-read-edit-group">
          <b-form-checkbox-group v-model="editForm.read" id="form-checks">
            <b-form-checkbox value="true">Read?</b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>
        -->
        <b-button-group>
          <b-button type="submit" variant="primary">Update</b-button>
          <b-button type="reset" variant="danger">Cancel</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios';
import Alert from './Alert.vue';

export default {
  data() {
    return {
      licenses: [],
      addLicenseForm: {
        holder: '',
        nameoflicense: '',
        activefrom: '',
        activeto: '',
      },
      message: '',
      showMessage: false,
      editForm: {
        holder: '',
        nameoflicense: '',
        activefrom: '',
        activeto: '',
      },
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
    getLicenses() {
      const path = 'http://localhost:5000/user/username';
      axios.get(path)
        .then((res) => {
          this.licenses = res.data.licenses;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
};
</script>
