<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Licenses</h1>
        <hr><br><br>
        <button type="button" class="btn btn-success btn-sm"
                v-b-modal.license-modal>Add License</button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Holder</th>
              <th scope="col">Name of License</th>
              <th scope="col">Active From</th>
              <th scope="col">Active to</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <td >{{License.name}}</td>
            <td >
              <tr v-for="item in License.license">
                <td >{{ item.name }}</td>
              </tr>
            </td>
            <td >
              <tr v-for="item in License.license">
                <td >{{ item.dateFrom }}</td>
              </tr>
            </td>
            <td >
              <tr v-for="item in License.license">
                <td >{{ item.dateTo }}</td>
              </tr>
            </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
/* eslint-disable */
// import Alert from './Alert.vue';


export default {
  name: 'licenses',
  data() {
      return {
          License: [
              {
                  id: '',
                  license:[{
                      dataFrom: '',
                      dataTo:'',
                      name: '',
                  },
                  ],
                  name: '',
                  status: '',
              }
          ] ,
      }
  },
   mounted(){
    const path = 'http://localhost:5000/licensesshow/5d7f31e5b4efc41038c370b6';
    axios.get(path)
        .then((res) => {
            this.License = res.data;
            console.log(this.License.license)

        })
        .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
        });
  },
};
</script>
