<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1> Log Entries for </h1>
                <hr><br>
                <alert :message=message v-if="showMessage">{{ message }}</alert>
                <div>
                    <!--<div class="entry" v-for="(ent, index) in logentry.entries" :key="index">
                        <div>Logtype: {{ent.logType}}</div><br>
                        <div>Location:{{ent.location}}</div><br>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import axios from 'axios';
import Alert from './Alert.vue';

export default {
  data() {
    return {
      message: '',
      showMessage: false,
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
    getLogEntry() {
      const path = 'http://localhost:5000/logentries';
      axios.get(path)
        .then((res) => {
          this.logentries = res.data.logentries;
        })
        .catch((error) => {
          // eslint-disable-next-line
           console.error(error);
        });
    },
  },
  created() {
    this.getMessage();
  },
};
</script>
